# Solana Network
# Используйте https://api.devnet.solana.com для тестов
NEXT_PUBLIC_RPC_URL=your_rpc_url_here

# Program ID (Тот, что в lib.rs и Anchor.toml)
NEXT_PUBLIC_PROGRAM_ID=CJMFFyVCeEUqfouQnaVKpXRwBWFD5rUZH8q8VAuggynf
